* {
  box-sizing: border-box;
}

.a {
  width: 2483px;
  height: 1167px;

  .frame3 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .a23 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 98px;
    line-height: 72px;
    letter-spacing: 0;
    color: var(--content-brand, #c58de7);
    font-family: "Roboto Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: UPPERCASE;
  }

  .sorteadorDeNMeros {
    flex-shrink: 0;
    align-self: stretch;
    width: 319px;
    line-height: 52px;
    letter-spacing: -1.6px;
    color: var(--content-primary, #ffffff);
    font-family: Sora, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-transform: UPPERCASE;
  }

  .a1Resultado {
    flex-shrink: 0;
    align-self: stretch;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--content-secondary, #c7c9cc);
    font-family: "Roboto Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: UPPERCASE;
  }

  .resultadoDoSorteio {
    flex-shrink: 0;
    align-self: stretch;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0;
    color: var(--content-primary, #ffffff);
    font-family: "Roboto Flex", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: UPPERCASE;
  }

  .titleForm2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    row-gap: 4px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 46px;
    row-gap: 8px;

    .onlineGratuito {
      flex-shrink: 0;
      align-self: stretch;
      background: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);
      background-clip: text;
      line-height: 24px;
      letter-spacing: 0;
      color: transparent;
      font-family: "Roboto Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
      -webkit-background-clip: text;
      text-transform: UPPERCASE;
    }
  }

  .contentNumber {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 16px;
    margin-right: 67px;
    margin-left: 67px;

    .animationNumber2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      border-radius: 28px;
      padding: 1px 13px;
    }
  }

  .logo {
    display: inline-flex;
    align-items: center;
    align-self: stretch;
    column-gap: 11px;
    margin-right: 74px;
    margin-left: 74px;

    .frame48095955 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 4px;
      padding: 2px;

      .frame {
        flex-shrink: 0;
        width: 34px;
        height: 34px;
        overflow: hidden;
      }
    }

    .numbers {
      flex-shrink: 0;
      line-height: 31px;
      letter-spacing: -0.96px;
      color: var(--content-primary, #ffffff);
      font-family: Sora, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 800;
      text-transform: UPPERCASE;
    }
  }

  .items {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 8px;

    .frame2 {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .frame48095949 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-end;

      .comoFuncionaOSortead {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 21px;
        letter-spacing: 0;
        color: var(--content-brand, #c58de7);
        font-family: "Roboto Flex", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .oSorteadorUtilizaUmA {
        flex-shrink: 0;
        align-self: stretch;
        width: 291px;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--content-secondary, #c7c9cc);
        font-family: "Roboto Flex", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  .questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 165px;
    row-gap: 36px;
  }

  .shapes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-primary, #020202);
    padding: 44px 36px 91px 35px;
    width: 390px;
    overflow: hidden;
    background-image: linear-gradient(180deg, #000000e5 22.66%, #0000008a 100%),
      url(../image/mg3tk21d-ta7zhzt.png);
    background-position: left top;
    background-size: 275px 275px;
    background-repeat: repeat;

    .titleForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin: 71px 1px 0px;
      height: 198px;
      row-gap: 4px;
    }
  }

  .shapes2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-primary, #020202);
    padding: 44px 36px 91px 35px;
    width: 390px;
    overflow: hidden;
    background-image: linear-gradient(180deg, #000000e5 22.66%, #0000008a 100%),
      url(../image/mg3tk21d-ta7zhzt.png);
    background-position: left top;
    background-size: 275px 275px;
    background-repeat: repeat;

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      margin: 71px 1px 0px;
      row-gap: 40px;

      .animationNumber {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 67px;
        margin-left: 67px;
        padding: 1px 113px 1px 13px;
      }
    }
  }

  .shapes3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-primary, #020202);
    padding: 44px 36px 91px 35px;
    width: 390px;
    overflow: hidden;
    background-image: linear-gradient(180deg, #000000e5 22.66%, #0000008a 100%),
      url(../image/mg3tk21d-ta7zhzt.png);
    background-position: left top;
    background-size: 275px 275px;
    background-repeat: repeat;

    .form2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      margin: 71px 1px 0px;
      row-gap: 40px;
    }
  }

  .shapes4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-primary, #020202);
    padding: 44px 36px 91px 35px;
    width: 390px;
    overflow: hidden;
    background-image: linear-gradient(180deg, #000000e5 22.66%, #0000008a 100%),
      url(../image/mg3tk21d-ta7zhzt.png);
    background-position: left top;
    background-size: 275px 275px;
    background-repeat: repeat;

    .header2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 46px;
      height: 136px;
      row-gap: 8px;

      .onlineGratuito2 {
        flex-shrink: 0;
        align-self: stretch;
        background: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);
        background-clip: text;
        line-height: 21px;
        letter-spacing: 0;
        color: transparent;
        font-family: "Roboto Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
        -webkit-background-clip: text;
        text-transform: UPPERCASE;
      }
    }

    .form3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      margin: 71px 1px 0px;
      row-gap: 40px;

      .button {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 8px;
        border-radius: 8px;
        background: var(--background-tertiary, #24222e);
        padding: 16px;
        overflow: hidden;

        .labelText {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--content-tertiary, #d9d9d9);
          font-family: "Roboto Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 700;
          text-transform: UPPERCASE;
        }
      }
    }

    .questions2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 69px;
      row-gap: 36px;
    }
  }

  .shapes5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-primary, #020202);
    padding: 44px 35px;
    width: 390px;
    overflow: hidden;
    background-image: linear-gradient(180deg, #000000e5 22.66%, #0000008a 100%),
      url(../image/mg3tk21d-ta7zhzt.png);
    background-position: left top;
    background-size: 275px 275px;
    background-repeat: repeat;

    .header3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 46px 1px 0px;
      row-gap: 8px;

      .onlineGratuito3 {
        flex-shrink: 0;
        align-self: stretch;
        background: linear-gradient(90deg, #d9d9d9 0%, #3d3d3d 100%);
        background-clip: text;
        line-height: 24px;
        letter-spacing: 0;
        color: transparent;
        font-family: "Roboto Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        -webkit-background-clip: text;
        text-transform: UPPERCASE;
      }
    }

    .contentForm {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 42px 1px 0px;
      row-gap: 40px;

      .titleForm3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 2px;

        .queroSortear {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 30px;
          letter-spacing: 0;
          color: var(--content-primary, #ffffff);
          font-family: "Roboto Flex", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
          text-transform: UPPERCASE;
        }

        .definaOIntervaloEaQu {
          flex-shrink: 0;
          align-self: stretch;
          width: 318px;
          line-height: 21px;
          letter-spacing: 0;
          color: var(--content-tertiary, #d9d9d9);
          font-family: "Roboto Flex", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .form4 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        row-gap: 20px;

        .fields {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 12px;

          .numberField {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            row-gap: 8px;

            .label {
              flex-shrink: 0;
              align-self: stretch;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--content-secondary, #c7c9cc);
              font-family: "Roboto Flex", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 700;
              text-transform: UPPERCASE;
            }

            .input {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              border: 1px solid var(--background-primary, #020202);
              border-radius: 8px;
              background: var(--background-primary, #020202);
              padding: 3px 7px;
              row-gap: 4px;

              .a100 {
                flex-shrink: 0;
                align-self: stretch;
                text-align: center;
                line-height: 48px;
                letter-spacing: 0;
                color: var(--content-primary, #ffffff);
                font-family: Sora, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 32px;
                font-weight: 700;
                text-transform: UPPERCASE;
              }
            }
          }
        }

        .optionToggle {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          margin-right: 157px;

          .toggle {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: flex-end;
            column-gap: 4px;
            border-radius: 16px;
            background: var(--gradient-background);
            padding: 3px;
            width: 30px;
            background-image: linear-gradient(
              108.43deg,
              var(--accent-pink, #d586e0) 0%,
              var(--accent-blue, #91a1fa) 90.91%
            );

            .ellipse1 {
              flex-shrink: 0;
              border-radius: 50%;
              box-shadow: 0px 0px 4px 0px #0000000f;
              background: var(--content-primary, #ffffff);
              width: 14px;
              height: 14px;
            }
          }

          .nORepetirNMero {
            flex-shrink: 0;
            line-height: 21px;
            letter-spacing: 0;
            color: var(--content-primary, #ffffff);
            font-family: "Roboto Flex", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      .buttonGo {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 8px;
        border-radius: 8px;
        background: var(--background-tertiary, #24222e);
        padding: 16px;
        overflow: hidden;

        .labelText2 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Roboto Flex", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 700;
          text-transform: UPPERCASE;
        }
      }
    }

    .questions3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 79px 1px 0px;
      row-gap: 36px;
    }
  }
}
